<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>微笑</string>
		<key>path</key>
		<string>1</string>
	</dict>
	<dict>
		<key>key</key>
		<string>撇嘴</string>
		<key>path</key>
		<string>2</string>
	</dict>
	<dict>
		<key>key</key>
		<string>色</string>
		<key>path</key>
		<string>3</string>
	</dict>
	<dict>
		<key>key</key>
		<string>发呆</string>
		<key>path</key>
		<string>4</string>
	</dict>
	<dict>
		<key>key</key>
		<string>得意</string>
		<key>path</key>
		<string>5</string>
	</dict>
	<dict>
		<key>key</key>
		<string>流泪</string>
		<key>path</key>
		<string>6</string>
	</dict>
	<dict>
		<key>key</key>
		<string>害羞</string>
		<key>path</key>
		<string>7</string>
	</dict>
	<dict>
		<key>key</key>
		<string>闭嘴</string>
		<key>path</key>
		<string>8</string>
	</dict>
	<dict>
		<key>key</key>
		<string>睡</string>
		<key>path</key>
		<string>9</string>
	</dict>
	<dict>
		<key>key</key>
		<string>大哭</string>
		<key>path</key>
		<string>10</string>
	</dict>
	<dict>
		<key>key</key>
		<string>尴尬</string>
		<key>path</key>
		<string>11</string>
	</dict>
	<dict>
		<key>key</key>
		<string>发怒</string>
		<key>path</key>
		<string>12</string>
	</dict>
	<dict>
		<key>key</key>
		<string>调皮</string>
		<key>path</key>
		<string>13</string>
	</dict>
	<dict>
		<key>key</key>
		<string>呲牙</string>
		<key>path</key>
		<string>14</string>
	</dict>
	<dict>
		<key>key</key>
		<string>惊讶</string>
		<key>path</key>
		<string>15</string>
	</dict>
	<dict>
		<key>key</key>
		<string>难过</string>
		<key>path</key>
		<string>16</string>
	</dict>
	<dict>
		<key>key</key>
		<string>酷</string>
		<key>path</key>
		<string>17</string>
	</dict>
	<dict>
		<key>key</key>
		<string>冷汗</string>
		<key>path</key>
		<string>18</string>
	</dict>
	<dict>
		<key>key</key>
		<string>抓狂</string>
		<key>path</key>
		<string>19</string>
	</dict>
	<dict>
		<key>key</key>
		<string>吐</string>
		<key>path</key>
		<string>20</string>
	</dict>
	<dict>
		<key>key</key>
		<string>偷笑</string>
		<key>path</key>
		<string>21</string>
	</dict>
	<dict>
		<key>key</key>
		<string>愉快</string>
		<key>path</key>
		<string>22</string>
	</dict>
	<dict>
		<key>key</key>
		<string>白眼</string>
		<key>path</key>
		<string>23</string>
	</dict>
	<dict>
		<key>key</key>
		<string>傲慢</string>
		<key>path</key>
		<string>24</string>
	</dict>
	<dict>
		<key>key</key>
		<string>饥饿</string>
		<key>path</key>
		<string>25</string>
	</dict>
	<dict>
		<key>key</key>
		<string>困</string>
		<key>path</key>
		<string>26</string>
	</dict>
	<dict>
		<key>key</key>
		<string>惊恐</string>
		<key>path</key>
		<string>27</string>
	</dict>
	<dict>
		<key>key</key>
		<string>流汗</string>
		<key>path</key>
		<string>28</string>
	</dict>
	<dict>
		<key>key</key>
		<string>憨笑</string>
		<key>path</key>
		<string>29</string>
	</dict>
	<dict>
		<key>key</key>
		<string>悠闲</string>
		<key>path</key>
		<string>30</string>
	</dict>
	<dict>
		<key>key</key>
		<string>奋斗</string>
		<key>path</key>
		<string>31</string>
	</dict>
	<dict>
		<key>key</key>
		<string>咒骂</string>
		<key>path</key>
		<string>32</string>
	</dict>
	<dict>
		<key>key</key>
		<string>疑问</string>
		<key>path</key>
		<string>33</string>
	</dict>
	<dict>
		<key>key</key>
		<string>嘘</string>
		<key>path</key>
		<string>34</string>
	</dict>
	<dict>
		<key>key</key>
		<string>晕</string>
		<key>path</key>
		<string>35</string>
	</dict>
	<dict>
		<key>key</key>
		<string>疯了</string>
		<key>path</key>
		<string>36</string>
	</dict>
	<dict>
		<key>key</key>
		<string>衰</string>
		<key>path</key>
		<string>37</string>
	</dict>
	<dict>
		<key>key</key>
		<string>骷髅</string>
		<key>path</key>
		<string>38</string>
	</dict>
	<dict>
		<key>key</key>
		<string>敲打</string>
		<key>path</key>
		<string>39</string>
	</dict>
	<dict>
		<key>key</key>
		<string>再见</string>
		<key>path</key>
		<string>40</string>
	</dict>
	<dict>
		<key>key</key>
		<string>擦汗</string>
		<key>path</key>
		<string>41</string>
	</dict>
	<dict>
		<key>key</key>
		<string>抠鼻</string>
		<key>path</key>
		<string>42</string>
	</dict>
	<dict>
		<key>key</key>
		<string>鼓掌</string>
		<key>path</key>
		<string>43</string>
	</dict>
	<dict>
		<key>key</key>
		<string>糗大了</string>
		<key>path</key>
		<string>44</string>
	</dict>
	<dict>
		<key>key</key>
		<string>坏笑</string>
		<key>path</key>
		<string>45</string>
	</dict>
	<dict>
		<key>key</key>
		<string>左哼哼</string>
		<key>path</key>
		<string>46</string>
	</dict>
	<dict>
		<key>key</key>
		<string>右哼哼</string>
		<key>path</key>
		<string>47</string>
	</dict>
	<dict>
		<key>key</key>
		<string>哈欠</string>
		<key>path</key>
		<string>48</string>
	</dict>
	<dict>
		<key>key</key>
		<string>鄙视</string>
		<key>path</key>
		<string>49</string>
	</dict>
	<dict>
		<key>key</key>
		<string>委屈</string>
		<key>path</key>
		<string>50</string>
	</dict>
	<dict>
		<key>key</key>
		<string>快哭了</string>
		<key>path</key>
		<string>51</string>
	</dict>
	<dict>
		<key>key</key>
		<string>阴险</string>
		<key>path</key>
		<string>52</string>
	</dict>
	<dict>
		<key>key</key>
		<string>亲亲</string>
		<key>path</key>
		<string>53</string>
	</dict>
	<dict>
		<key>key</key>
		<string>吓</string>
		<key>path</key>
		<string>54</string>
	</dict>
	<dict>
		<key>key</key>
		<string>可怜</string>
		<key>path</key>
		<string>55</string>
	</dict>
	<dict>
		<key>key</key>
		<string>菜刀</string>
		<key>path</key>
		<string>56</string>
	</dict>
	<dict>
		<key>key</key>
		<string>西瓜</string>
		<key>path</key>
		<string>57</string>
	</dict>
	<dict>
		<key>key</key>
		<string>啤酒</string>
		<key>path</key>
		<string>58</string>
	</dict>
	<dict>
		<key>key</key>
		<string>篮球</string>
		<key>path</key>
		<string>59</string>
	</dict>
	<dict>
		<key>key</key>
		<string>乒乓</string>
		<key>path</key>
		<string>60</string>
	</dict>
	<dict>
		<key>key</key>
		<string>咖啡</string>
		<key>path</key>
		<string>61</string>
	</dict>
	<dict>
		<key>key</key>
		<string>饭</string>
		<key>path</key>
		<string>62</string>
	</dict>
	<dict>
		<key>key</key>
		<string>猪头</string>
		<key>path</key>
		<string>63</string>
	</dict>
	<dict>
		<key>key</key>
		<string>玫瑰</string>
		<key>path</key>
		<string>64</string>
	</dict>
	<dict>
		<key>key</key>
		<string>凋谢</string>
		<key>path</key>
		<string>65</string>
	</dict>
	<dict>
		<key>key</key>
		<string>嘴唇</string>
		<key>path</key>
		<string>66</string>
	</dict>
	<dict>
		<key>key</key>
		<string>爱心</string>
		<key>path</key>
		<string>67</string>
	</dict>
	<dict>
		<key>key</key>
		<string>心碎</string>
		<key>path</key>
		<string>68</string>
	</dict>
	<dict>
		<key>key</key>
		<string>蛋糕</string>
		<key>path</key>
		<string>69</string>
	</dict>
	<dict>
		<key>key</key>
		<string>闪电</string>
		<key>path</key>
		<string>70</string>
	</dict>
	<dict>
		<key>key</key>
		<string>炸弹</string>
		<key>path</key>
		<string>71</string>
	</dict>
	<dict>
		<key>key</key>
		<string>刀</string>
		<key>path</key>
		<string>72</string>
	</dict>
	<dict>
		<key>key</key>
		<string>足球</string>
		<key>path</key>
		<string>73</string>
	</dict>
	<dict>
		<key>key</key>
		<string>瓢虫</string>
		<key>path</key>
		<string>74</string>
	</dict>
	<dict>
		<key>key</key>
		<string>便便</string>
		<key>path</key>
		<string>75</string>
	</dict>
	<dict>
		<key>key</key>
		<string>月亮</string>
		<key>path</key>
		<string>76</string>
	</dict>
	<dict>
		<key>key</key>
		<string>太阳</string>
		<key>path</key>
		<string>77</string>
	</dict>
	<dict>
		<key>key</key>
		<string>礼物</string>
		<key>path</key>
		<string>78</string>
	</dict>
	<dict>
		<key>key</key>
		<string>拥抱</string>
		<key>path</key>
		<string>79</string>
	</dict>
	<dict>
		<key>key</key>
		<string>强</string>
		<key>path</key>
		<string>80</string>
	</dict>
	<dict>
		<key>key</key>
		<string>弱</string>
		<key>path</key>
		<string>81</string>
	</dict>
	<dict>
		<key>key</key>
		<string>握手</string>
		<key>path</key>
		<string>82</string>
	</dict>
	<dict>
		<key>key</key>
		<string>胜利</string>
		<key>path</key>
		<string>83</string>
	</dict>
	<dict>
		<key>key</key>
		<string>抱拳</string>
		<key>path</key>
		<string>84</string>
	</dict>
	<dict>
		<key>key</key>
		<string>勾引</string>
		<key>path</key>
		<string>85</string>
	</dict>
	<dict>
		<key>key</key>
		<string>拳头</string>
		<key>path</key>
		<string>86</string>
	</dict>
	<dict>
		<key>key</key>
		<string>差劲</string>
		<key>path</key>
		<string>87</string>
	</dict>
	<dict>
		<key>key</key>
		<string>爱你</string>
		<key>path</key>
		<string>88</string>
	</dict>
	<dict>
		<key>key</key>
		<string>NO</string>
		<key>path</key>
		<string>89</string>
	</dict>
	<dict>
		<key>key</key>
		<string>OK</string>
		<key>path</key>
		<string>90</string>
	</dict>
	<dict>
		<key>key</key>
		<string>爱情</string>
		<key>path</key>
		<string>91</string>
	</dict>
	<dict>
		<key>key</key>
		<string>飞吻</string>
		<key>path</key>
		<string>92</string>
	</dict>
	<dict>
		<key>key</key>
		<string>跳跳</string>
		<key>path</key>
		<string>93</string>
	</dict>
	<dict>
		<key>key</key>
		<string>发抖</string>
		<key>path</key>
		<string>94</string>
	</dict>
	<dict>
		<key>key</key>
		<string>怄火</string>
		<key>path</key>
		<string>95</string>
	</dict>
	<dict>
		<key>key</key>
		<string>转圈</string>
		<key>path</key>
		<string>96</string>
	</dict>
	<dict>
		<key>key</key>
		<string>磕头</string>
		<key>path</key>
		<string>97</string>
	</dict>
	<dict>
		<key>key</key>
		<string>回头</string>
		<key>path</key>
		<string>98</string>
	</dict>
	<dict>
		<key>key</key>
		<string>跳绳</string>
		<key>path</key>
		<string>99</string>
	</dict>
	<dict>
		<key>key</key>
		<string>投降</string>
		<key>path</key>
		<string>100</string>
	</dict>
	<dict>
		<key>key</key>
		<string></string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>key</key>
		<string></string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>key</key>
		<string></string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>key</key>
		<string></string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>key</key>
		<string></string>
		<key>path</key>
		<string></string>
	</dict>
</array>
</plist>
